.App {
  text-align: center;
  font-family: "Open Sans";
  display: grid;
  margin: 20px;
  grid-template-areas:
    "list search search"
    "list pokeinfo pokeinfo"
    "list pokeinfo pokeinfo"
    "list pokeinfo pokeinfo"
    "list pokeinfo pokeinfo"
    "list pokeinfo pokeinfo"
    "list pokeinfo pokeinfo"
    "list pokeinfo pokeinfo";
}

.list {
  grid-area: list;
}

.image {
  height: 70px;
  width: 70px;
}

.data {
  grid-area: data;
}

.search {
  grid-area: search;
  width: 100%;
  margin-left: 5px;
}

.poke-data {
  list-style-type: none;
  grid-area: pokeinfo;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}

.poke-data ul {
  list-style-type: none;
}

.poke-list {
  grid-area: list;
  background-color: rgb(109, 5, 5);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 20px;
}

.poke-card {
  border: black 1px solid;
  border-radius: 5px;
  padding: 10px 40px;
  background-color: white;
  color: black;
  margin: 5px;
  font-size: 12px;
}

.poke-card a {
  text-decoration: none;
  color: black;
}

.poke-card a:hover {
  text-decoration: none;
  color: rgb(28, 13, 228);
}

.title {
  font-size: 40px;
  padding: 20px 0 40px 0;
}

.paginate {
  color: black;
  border: 1px solid black;
}

.poke-name {
  font-weight: bold;
  margin: 0.5rem;
}

.table {
  border-radius: 5px;
  box-shadow: 1px 1px 8px #888888;
  padding: 10px;
}

.ability {
  border: 1px transparent black;
  border-radius: 5px;
}

.abilities {
  color: gray;
  font-weight: normal;
}

.error {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
